$color-primary: #2196f3;
$color-primary-background: #f3f7fa;
$color-white: #ffffff;
$color-gray: gray;
$color-gray-text: #4a4a4a;
$color-lightblue: #dfe5ec;
$color-lightblue-second: #9abbce;
$color-lightblue-third: #f1fcff;
$color-lightblue-fourth: #b3d7ff;
$color-yellow-border: #ffe696;
$color-yellow-background: #fffbe6;
$color-red-border: #ffd0cb;
$color-red-background: #fff2f0;
$box-shadow-ticket: 0px 2px 8px rgba(0, 0, 0, 0.1);
$box-shadow-checkbox: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
