@import '../../assets/style/variables.scss';

.ticket {
  width: 502px;
  height: 184px;
  background-color: $color-white;
  box-shadow: $box-shadow-ticket;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .ticket-header {
    display: flex;
    justify-content: space-between;

    .ticket-header__price {
      color: $color-primary;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      align-self: center;
    }

    .ticket-header__company {
      width: 110px;
    }
  }
  .ticket__body {
    font-size: 14px;
    gap: 20px;

    .ticket__info {
      display: flex;
      justify-content: space-between;

      .ticket__segments {
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 10px;
        width: 100px;
        align-items: center;
        .ticket__text--gray {
          text-transform: uppercase;
          color: $color-gray;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .ticket {
    width: 90%;
    margin: 0 auto;
  }

  .ticket {
    width: 90%;
    margin: 0 auto;

    .ticket-header {
      .ticket-header__price {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
      }

      .ticket-header__company {
        width: 110px;
      }
    }
    .ticket__body {
      font-size: 12px;
      gap: 20px;
    }
  }
}
