.ticket {
  width: 502px;
  height: 184px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .ticket-header {
    display: flex;
    justify-content: space-between;

    .ticket-header__price {
      color: #2196f3;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      align-self: center;
    }

    .ticket-header__company {
      width: 110px;
    }
  }
  .ticket__body {
    font-size: 14px;
    gap: 20px;

    .ticket__info {
      display: flex;
      justify-content: space-between;

      .ticket__segments {
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 10px;

        .ticket__text--gray {
          text-transform: uppercase;
          color: gray;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .ticket {
    width: 300px;
    margin: 0 auto;
  }
}
