@import '../../assets/style/variables.scss';

.side-filter {
  display: flex;
  flex-direction: column;
  font-size: 14px;

  .filter-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .filter-checkbox + label {
    display: inline-flex;
    align-items: center;
    height: 40px;
    width: 100%;
    user-select: none;
    padding: 0 20px;
  }
  .filter-checkbox + label:hover {
    background-color: $color-lightblue-third;
  }
  .filter-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $color-lightblue-second;
    border-radius: 2px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .filter-checkbox:checked + label::before {
    border-color: $color-primary;
    background-size: 12px 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M4.28571 8L0 4.16123L1.20857 3.0787L4.28571 5.82726L10.7914 0L12 1.09021L4.28571 8Z' fill='%232196F3'/%3E%3C/svg%3E");
  }
  .filter-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: $color-primary;
  }
  .filter-checkbox:not(:disabled):active + label::before {
    background-color: $color-lightblue-fourth;
    border-color: $color-primary;
  }

  .filter-checkbox:focus + label::before {
    box-shadow: $box-shadow-checkbox;
  }

  .filter-checkbox:focus:not(:checked) + label::before {
    border-color: $color-primary;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .side-filter {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
  }
}
